<% include ./partials/header %>


<div class='container'>
    <header class='jumbotron'>
    <div clas="container">
        <h1>Welcome to Solve Physics!</h1>
        <p>Solve mechanics problems</p>
        <p>
        <a class='btn btn-primary btn-large' href="/block">Go to Solver</a>
        </p>
    </div>
</header>

    <div class='row text-center' style='display:flex; flex-wrap: wrap;'>

    </div>


</div>

<% include ./partials/footer %>