<!DOCTYPE html>
<html>
    <head>
        <title>Physics</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
        <% if(message && message.length > 0){ %>
                <div class="alert alert-danger" role="alert"><%= message %></div>
                <% } %>  
        </div>
    </div>

      <header>
            <h1 class="text-center">Login</h1>
        <div class="text-center"> 
            <form class="" action="/login" method="post">
                
                <div class="form-group"><label for="">
                    Email<input type="text" name="username" class="form-control"></label>
                </div>
                 <div class="form-group"><label for="password">
                    Password<input type="password" name="password" class="form-control"></label>
                </div>

                <div class="form-group">
                  <input type="submit" name="submit" class="btn btn-primary" >
                </div>
            </form>
        </div>  

    </header>

</div>
    </body>
</html>

